body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-field {
  display: flex;
  width: 500px;
  justify-content: center;
  margin: 0 auto;
}

.todo-input {
  width: 200px;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 15px;
}

.add-todo-button {
  height: 34px;
  width: 34px;
  background: none;
  border: 1px solid lightgray;
  cursor: pointer;
}

.filter-todo {
  height: 34px;
  width: 150px;
  text-align: center;
  border: 1px solid lightgray;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.todo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin: 15px 0 15px 0;
}

.todo-item {
  list-style: none;
  width: 400px;
  border: 1px dotted lightgray;
  text-align: left;
  padding: 10px 20px 10px 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.todo-button {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.check {
  background: lightgreen;
}

.completed {
  background: lightgreen;
  text-decoration: line-through;
  opacity: 0.5;
}

.delete {
  background: red;
}
